body{
    background: #0d1321;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #f9f4f5;
}
.logo{
    margin: 30px;
}
.brand-name{
    margin: 50px;
    font-size: 50px;
    font-family: 'Carter One', cursive;
}
header h1{
    color: red;
}
header{
    display: flex;
}
header ul{
    margin: 30px;
    margin-top: 60px;
    position: absolute;
    right: 2%;
}
header ul li{
    float: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #0d1321;
}
header ul li a{
    text-decoration: none;
    color: #f9f4f5;
}
header ul li.active{
    background: #ed1c24;
}
p{
    color: #ed1c24;
}

section{
    height: 665px;
    margin: 0px;
    background: url(photos/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section h1{
    text-align: center;
    color: #f9f4f5;
    padding-top: 175px;
    margin-top: 0px;
    font-size: 80px;
    font-family: 'Carter One', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}
section ul{

    margin-top: -50px;
    position: absolute;
    right: 40%;
    }
section ul li{
    float: left;
    text-align: center;
    margin:20px;
    padding: 20px;
    list-style: none;
    background: #ed1c24;
    }
section ul li a{
    text-decoration: none;
    color: #f9f4f5;
    }
.section2{
    height: 665px;
    margin: 0px;
    background: #8894aa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
.sect2head{
    text-align: center;
    color: #ed1c24;
    padding-top: 10px;
    margin-top: 0px;
    font-size: 80px;
    font-family: 'Carter One', cursive;
    }
.aboutusmatter{
    text-align: center;
    margin: -30px;
    font-size: 30px;
    list-style: none;

}    
    



