body{
    background: #0d1321;
    background-size: auto;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}
.header{
    background-color: #f9f4f5;
}
.logo-brand{
    width:50%
}
.logo{
    margin: 30px;
    padding-left: 35px;
    width:130px;
    height: 120px;
}
.brand-name{
    font-size: 65px;
    font-family: 'Carter One', cursive;
    float: right;
    padding-right: 150px;
}
.header h1{
    color: red;
}
.header{
    display: flex;
}
.navigation-bar{
    width:50%
}
.header ul{
    margin: 30px;
    margin-top: 60px;
    position: absolute;
    right: 2%;
}
.header ul li{
    float: left;
    margin: 10px;
    padding: 10px;
    list-style: none;
    background: #0d1321;
}
.header ul li a{
    text-decoration: none;
    color: #f9f4f5;
}
ul li.active{
    background: #ed1c24;
}


.section1{
    height: 665px;
    margin: 0px;
    background: url(photos/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section1-head{
    text-align: center;
    color: #f9f4f5;
    padding-top: 175px;
    margin-top: 0px;
    font-size: 80px;
    font-family: 'Carter One', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

}

.section-button{
    position: relative;
    left: 700px;
    width: 200px;
    height: 50px;
    background: crimson;
    color: white;
    border: none;
    margin: 20px auto;
    text-align: center;
}

.section2{
    height: 850px;
    margin: 0px;
    background: #8894aa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    }
.sect2head{
    text-align: center;
    color: #ed1c24;
    padding-top: 10px;
    margin-top: 0px;
    font-size: 80px;
    font-family: 'Carter One', cursive;
    }
p.aboutusmatter{
    text-align: center;
    padding-bottom: 20px;
    margin: -40px;
    font-size: 25px;
    list-style: none;
    color: #ed1c24;
    width:max-content;
    padding-left: 330px;
    

}    
.newproducthead{
    text-align: center;
    color: #ed1c24;
    padding-top: 40px;
    margin-top: 0px;
    font-size: 50px;
    font-family: 'Carter One', cursive;
    text-decoration: underline
}
.videointro{
    margin-left: 32%;
    margin-top: -48px;
}
.footer{
    background-color: #f9f4f5;
    height: 200px;

}
.footer-left{
    width: 46%;
    height: 190px;
    padding-left:40px;
    padding-top: 10px;
    float: left;
    
}
#location-head{
    color: #0d1321;
    text-decoration-line: underline;
}
.footer-right{
    float: left;
    width: 49%;
    height: 190px;
    padding-left:40px;
    padding-top: 10px;
    margin:0;

}
#contact_details-head{
    color: #0d1321;
    text-decoration-line: underline;
}
#creation-box{
    font-size: 20px;
    color: #f9f4f5;
    text-align: center;
}

